@import url(style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #313949;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

li{
    display: flex;
    align-items: center; 
    padding: 5px;
    height: 40px;
    margin: 0 10px;
}
a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

#CRM {
    display: flex;
    align-items: center;
}

#CRM img {
    vertical-align: middle;
}
