@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

body {
    height: 100vh;
    width: 100vw;
}

.navObject {
    background-color: #313949;
    height: 100%;
    width: 100%
}

.nav {
    height: 8%;
}
.content{
    height: 82%;
}
