<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetings</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/meetings.css">
    <script type="module" src="../../components/custom_sidebar.js"></script>
    <script type="module" src="/components/navbar.js"></script>
</head>

<body>
    <div class="wrapper">
        <navbar-element></navbar-element>
        <div class="meetingsNavbar">
            <nav>
                <div class="left">
                    <span id="meetings"><a href="/templates/meetings/home.html" target="_parent"><img
                                src="/static/newMeetingIconWithName.png"></a></span>
                </div>
                <div class="right">
                </div>
                <a href="/templates/meetings/createMeetings.html" target="_parent" hidden id="link"></a>
            </nav>
        </div>
        <div class="container">
            <aside>
                <custom-sidebar></custom-sidebar>
            </aside>
            <main id="meetingMainElement">

            </main>
        </div>
    </div>
    <script type="module" src="/js/declarations.js" defer></script>
</body>

</html>