<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/meetings.css">
    <script type="module" src="../../js/meetings/detailedMeetingView.js" defer></script>
</head>

<body>
    <div class="nav">
        <object class="navObject" data="/templates/header.html" type="text/html" name="nav" width="100%"></object>
    </div>
    <div class="meetingsNavbar">
        <nav>
            <div class="left">
                <span id="meetings"><a href="/templates/meetings/home.html" target="_parent"><img
                            src="/static/newMeetingIconWithName.png" alt="meeting-ico"></a></span>
            </div>
            <div class="right"></div>
        </nav>
    </div>
    <div class="container">
        <aside>
            <object data="/templates/meetings/sidebar.html" type="text/html" name="meetingsidebar"></object>
        </aside>
        <main id="detailed_Meeting_View_MainElement">
            <div class="detailsTitleBar">
                <div class="details_TitleBar_Left">
                    <div class="TitleContainer">
                        <div>
                            <span id="goBack">
                                <img src="../../static/back.svg" alt="Back">
                            </span>
                            <span id="meetingTopic"></span>
                            <span id="meetingTypeIcon">
                                <img src="" alt="" id="MeetingType">
                            </span>
                        </div>
                        <div id="meetingCompleted" style="display: none;">Completed</div>
                    </div>
                </div>
                <div class="details_TitleBar_Right">
                    <button id="meetingStartButton" hidden>Start Meeting</button>
                    <button id="meetingEditButton" hidden>Edit</button>
                    <button id="meetingRepeatButton" hidden>Repeat Meeting</button>
                    <button id="meetingCancelButton">Cancel</button>
                </div>
            </div>
            <div class="meetingContentOuterDiv">
                <div class="meetingContentInnerDiv">
                    <div class="calender">
                        <div class="left-ico">
                            <div>
                                <img src="../../static/calendar.svg" alt="Calendar" height="25px" width="25px">
                            </div>
                        </div>
                        <div class="right-content">
                            <div class="meetingTimings">
                                <div id="meetingDate"></div>
                                <div id="meetingRegion"></div>
                            </div>
                        </div>
                    </div>
                    <div class="Host">
                        <div class="left-ico">
                            <div>
                                <img src="../../static/cohost-icon.svg" alt="Calendar" height="25px" width="25px">
                            </div>
                        </div>
                        <div class="right-content">
                            <div class="meetingHostDetails">
                                <div id="Host">
                                    <p>Host</p>
                                    <p id="hostMail"></p>
                                </div>
                                <div id="Department"></div>
                            </div>
                        </div>
                    </div>
                    <div class="joinLink">
                        <div class="left-ico">
                            <div>
                                <img src="../../static/participants.svg" alt="Calendar" height="25px" width="25px">
                            </div>
                        </div>
                        <div class="right-content">
                            <div id="participants">
                                <p>Join Link</p>
                                <p id="joinLink"></p>
                                <div class="meetingKeyPassword">
                                    <p>Meeting ID: <span id="meetingKey"></span></p>
                                    <p>Password: <span id="meetingPassword"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reminder">
                        <div class="left-ico">
                            <div>
                                <img src="../../static/reminder-icon.svg" alt="Calendar" height="25px" width="25px">
                            </div>
                        </div>
                        <div class="right-content">
                            <div id="meetingReminderDiv">
                                <p>Reminders: <span id="reminderCount"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="audio" style="display: none;">
                        <div class="left-ico">
                            <div>
                                <img src="../../static/audio.svg" alt="Calendar" height="25px" width="25px">
                            </div>
                        </div>
                        <div class="right-content">

                        </div>
                    </div>
                    <div class="agenda" style="display: none;">
                        <div class="left-ico">
                            <div>
                                <img src="../../static/agenda-icon.svg" alt="Calendar" height="25px" width="25px">
                            </div>
                        </div>
                        <div class="right-content">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>