<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetings</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/meetings.css">
</head>

<body>
    <div class="nav">
        <object class="navObject" data="/templates/header.html" type="text/html" name="nav" width="100%"></object>
    </div>
    <div class="meetingsNavbar">
        <object data="/templates/meetings/navbar.html" type="text/html" name="meetingNav"></object>
    </div>
    <div class="container">
        <aside>
            <object data="/templates/meetings/sidebar.html" type="text/html" name="meetingsidebar"></object>
        </aside>
        <main id="meetingMainElement">
            <Ul>
                <li class="li"><a href="/templates/meetings/meetings.html" id="upcomingMeetings">Upcoming</a></li>
                <li class="li"><a href="/templates/meetings/pastmeetings.html" id="completedMeetings">Past</a></li>
            </Ul>
            <div class="content">

            </div>
        </main>
    </div>

</body>

</html>