<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetings</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/meetings.css">
    <script type="module" src="/components/navbar.js"></script>
</head>

<body>
    <navbar-element></navbar-element>
    <div class="meetingsNavbar">
        <nav>
            <div class="left">
                <span id="meetings"><a href="/templates/meetings/home.html" target="_parent"><img
                            src="/static/newMeetingIconWithName.png"></a></span>
            </div>
            <div class="right">
            </div>
            <a href="/templates/meetings/createMeetings.html" target="_parent" hidden id="link"></a>
        </nav>
    </div>
    <div class="container">
        <aside>
            <object data="/templates/meetings/sidebar.html" type="text/html" name="meetingsidebar"></object>
        </aside>
        <main id="meetingMainElement">
            <div class="nav2">
                <div class="nav2Left">
                    <Ul id="webinarUpcomingPastUL">
                        <li class="li"><a href="#" id="upcomingWebinars">Upcoming</a>
                        </li>
                        <li class="li"><a href="#" id="completedWebinars">Past</a>
                        </li>
                    </Ul>
                </div>
                <div class="nav2Right">
                    <button id="createWebinarButton" class="MeetingPrimaryButton">Create Webinar</button>
                </div>
            </div>
        </main>
    </div>
    <script type="module" src="/js/declarations.js" defer></script>
</body>

</html>