.dropdownmenu {
    z-index: 1;
    padding: 10px;
    position: absolute;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.dropdownmenu li:hover {
    cursor: pointer;
    background-color: rgba(51, 140, 240, 0.4);
}

.dropdownmenu li {
    padding: 5px;
    margin: 2px 0px;
}

#accError {
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    color: red;
}