#ListContainer {
    background-color: #EDF0F4;
    overflow: hidden;
}

.kanbanView {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    overflow: auto;
    padding: 10px;
}

.stages {
    border-radius: 5px;
    flex-shrink: 0;
    position: relative;
    min-height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stageTitleDiv {
    border-radius: 5px 5px 0 0;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #afe0ebac;
    border-top: 4px solid #87d8ebac;
}

.stageDetailsDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stageDetailsDiv>span {
    font-size: 14px;
}

.scorePercentage {
    position: relative;
    padding: 0px 10px;
}

.scorePercentage::before {
    content: " ";
    height: 3px;
    width: 3px;
    position: absolute;
    background-color: #726f6f;
    left: 0;
    bottom: 25%;
    border-radius: 50%;
}

.stageTitleDiv.success {
    border-top: 4px solid mediumseagreen;
    background-color: lightgreen;
}

.stageTitleDiv.reject {
    border-top: 4px solid #F34040;
    background-color: #F08080;
}

.stageBodyDiv {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    border-radius: 5px;
}

.stageBodyDiv.noContent {
    flex: 1;
    display: flex;
    background-color: #e1e6ec;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.count {
    padding: 0px 5px;
    border-radius: 50%;
    background-color: #6eb7db;
}

.count.success {
    background-color: mediumseagreen;
}

.count.reject {
    background-color: #F34040;
}

.dealsBox:hover {
    background-color: #fffffc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.dealsBox {
    cursor: move;
    background-color: #fffffd;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.dealsBox span:not(:empty) {
    padding: 2px;
}

.dealsBox:hover .dealaccount,
.dealsBox:hover .dealname,
.dealsBox:hover .dealcontact {
    color: #006BE4;
}

.dealname,
.dealaccount,
.dealcontact {
    width: max-content;
    cursor: pointer;
}

.dealclosingdate {
    color: #F34040;
}

.dragging {
    opacity: 0.9;
}

/* view Deals Page */
.content {
    width: 100%;
    height: calc(100% - 7em);
    background: #EDF0F4;
    display: flex;
    flex-direction: row;
}

#sideBar {
    position: relative;
    height: 100%;
    width: 20%;
    background: #fff;
}

main {
    position: relative;
    height: 100%;
    width: 80%;
    padding: 10px;
}

section {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.detailsCard {
    background: #fcfcfc;
}

.stageSection {
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    padding: 10px;
    background: #fcfcfc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.stageDetials {
    color: #7f7f7f;
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 20px;
}


#stageCurrent {
    position: relative;
    width: 100%;
    display: flex;
    overflow: auto;
}

.stage {
    width: max-content;
    display: flex;
    flex-shrink: 0;
    padding: 10px;
    border: 1px solid gainsboro;
}

.stage:hover {
    cursor: pointer;
}

.stage.current {
    background: #90a9fd;
    color: #fff;
}

.stage.current.success {
    background: #25B52A;
}

.stage.current.failure {
    background: #EB4D4D;
}

.innerDivDetailsCard {
    position: relative;
    padding: 20px 100px;
    display: flex;
    width: 100%;
}

.flexLeftContent,
.flexRightContent {
    width: 50%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.flcDiv,
.flrDiv {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 40px;
}

.flcDiv span:first-child,
.flrDiv span:first-child {
    width: 30%;
    min-width: 150px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.flcDiv span:last-child,
.flrDiv span:last-child {
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.flcDiv span:last-child:hover,
.flrDiv span:last-child:hover {
    cursor: pointer;
    /* border: 1px solid #000; */
    outline: 1px solid #9f9f9f;
    border-radius: 5px;
}

/*  Edit Deal page */

.outerContainer {
    position: relative;
    height: 100%;
    width: 60%;
    margin: auto;
}

#AccountForm {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
}

#AccountForm .deal,
#AccountForm .details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.form-elements-div {
    width: 100%;
    margin: 5px;
}

.form-elements {
    height: 35px;
    width: 100%;
    padding-left: 10px;
}