html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.no-scroll {
    overflow: hidden;
}

.content {
    overflow: auto;
    padding: 10px;
}

.section {
    color: gray;
    width: 100%;
    padding: 15px 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.section-head {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    font-size: 14px;
}

.section-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.createLeadContainer,
.createContactContainer {
    padding: 30px;
}

.convert-lead__Main-div,
.convert-contact__Main-div {
    height: 100%;
    width: 100%;
}

.convert-lead__Main-div .container,
.convert-contact__Main-div .container {
    padding: 20px;
}

.convert-lead__Main-div .top-ribbon,
.convert-contact__Main-div .top-ribbon {
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: -1px -0.25px 0px 0.5px rgba(0, 0, 0, 0.3);
}

.convert-lead__Main-div .top-ribbon .top-ribbon__left,
.convert-contact__Main-div .top-ribbon .top-ribbon__left {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    font-weight: normal;
}

.top-ribbon__left h3 {
    font-weight: 600;
}

.deal-box {
    width: 50%;
}

.cta-btns {
    margin-top: 20px;
}

#convert-form #lead-name {
    margin-left: 15px;
    background-color: lightslategray;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    user-select: none;
}

.Contacts_Popup {
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 9;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.popup-head {
    padding: 15px 15px;
    border-bottom: 0.1px solid black;
}

.popup-head h2 {
    font-size: medium;
}

.popup-body {
    flex: 1 1 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.check-list_container {
    flex: 1 1 auto;
    overflow-y: auto;

}

.check-list_container .row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    gap: 15px;

    &:hover {
        cursor: pointer;
    }
}

.check-list_container .row span {
    display: flex;
    align-items: center;
}

.check-list_container .row span:first-child {
    width: 30px;
}

.check-list_container .row span:first-child input {
    width: 100%;
    vertical-align: middle;
}

.check-list_container .row span:nth-child(2) {
    flex: 0 1 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
}

.cta-btn_container {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.cta-btn_container .cta-btns {
    all: unset;
    margin: 0;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.cta-btns.cancel {
    border-color: #da1e28;
    color: #da1e28;
}

.cta-btns.cancel:hover {
    color: #fff;
    background-color: #da1e28;
}

.cta-btns.success {
    border-color: #0279FF;
    color: #0279FF;
}

.cta-btns.success:hover {
    color: #fff;
    background-color: #0279FF;
}

.hidden {
    display: none;
}

.contacts.no-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-btns.success:disabled {
    background-color: gainsboro;
    border: 1px solid gainsboro;
    color: #fff;
}