* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f5f8fd;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

nav {
    justify-content: space-between;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .left {
    margin-left: 10px;
}

nav .right {
    padding-right: 1em;
}

#meetings img {
    height: 1.5em;
}

.meetingsNavbar {
    padding: 0;
    margin: 0;
    height: 3em;
}

.meetingsNavbar>object {

    position: relative;
    width: 100%;
    height: 100%;
}

#sidebarAside {
    background-color: #1b2a3f;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#sidebarAside li a {
    color: white;
}

aside {
    position: relative;
    height: 100%;
    min-width: 5em;
    width: 5em;
    color: white;
}

aside>object {
    position: relative;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    margin: 0;
    flex: 1;
}

#meetingMainElement>ul {
    position: relative;
    padding: 0px 1em;
    background-color: #f5f8fd;
    height: 3em;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

#meetingMainElement ul li a {
    padding: 5px;
    color: #0061CA;
    font-weight: bold;
}


.li.activeLink {
    border-bottom: #0061CA 2px solid;
}

#meetingUpcomingPastUL li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#upcomingMeetingsDiv {
    flex: 1;
    padding-top: 25px;
    position: relative;
    width: 100%;
    padding: 0 20px;
}

.MeetingPrimaryButton,
#createMeetingSubmitButton {
    color: #fff;
    background: transparent linear-gradient(0deg, #0279FF 0%, #00A3F3 100%);
    padding: 10px 15px;
    border-radius: 25px;
    outline: 0;
    border: 0;
}

.meetingSecondaryButton {
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    outline: 1px solid;
    border: 0;
    background: none;
}

.meetingSecondaryButton:hover {
    color: white;
    cursor: pointer;
    background-color: gray;
    outline: 1px solid gray;
}

.MeetingPrimaryButton:hover,
#createMeetingSubmitButton:hover {
    cursor: pointer;
    background: transparent linear-gradient(0deg, #006BE4 0%, #02ACFF 100%);
}

.meetingListItem {
    margin: 10px 0px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 35px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
}

.meetingListItem:hover {
    cursor: pointer;
    outline: #0279FF 1px solid;
}

.liDiv {
    width: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.liDiv:nth-child(2) {
    flex-shrink: 3;
    width: 150px;
}

.liDiv:first-child {
    flex-shrink: 0;
    width: 200px;
}

.liDiv:last-child {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

#meetingStartButton {
    all: unset;
    padding: 3px 15px;
    border: #006BE4 1px solid;
    border-radius: 25px;
    color: #006BE4;
}

#meetingStartButton:hover {
    border: none;
    outline: 1px solid #0279FF;
    background: #016be5;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#div1Meeting {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.dateAndTime {
    display: flex;
    flex-direction: column;
}

#meetingOptions {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#meetingOptions:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
}

/* #upcomingMeetingList {
    width: 100%;
    flex: 1;
} */

#presenterImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}

#meetingsToday:not(:empty)::before {
    content: "Today";
}

#meetingsTomorrow:not(:empty)::before {
    content: "Tomorrow";
}

#meetingsThisMonth:not(:empty)::before {
    content: "This Month";
}

.meetingsList {
    margin-top: 10px;
}