.viewLeadContainer,
.viewContactContainer,
.viewAccountContainer {
    padding: 1%;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1%;
}

.quickLink {
    border-radius: 15px;
    height: 100%;
    width: 20%;
    background-color: #fff;
}

.viewLeadDetails,
.viewContactDetails,
.viewAccountDetails {
    display: flex;
    flex-direction: column;
    gap: 5%;
    border-radius: 15px;
    position: relative;
    height: 100%;
    width: 80%;
    overflow: auto;
}

.overviewBar {
    position: sticky;
    top: 0;
    height: 15%;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: #EDF0F4;
}

.details {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#leadTable,
#contactTable,
.accountTables {
    border-collapse: collapse;
    width: 100%;
}

tr {
    box-shadow: 0px 0px 10px inset rgba(255, 255, 255, 0.2);
}

td:hover {
    background-color: #fff;
    color: #338cf0;
    cursor: pointer;
}

td {
    padding: 1% 0%;
}

th {
    text-align: left;
}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 0px;
}