<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/mail.css">
    <script type="module" src="../../components/navbar.js"></script>
    <script type="module" src="../../js/email/inbox.js" defer></script>
    <script type="module" src="../../components/mail_sidebar.js"></script>
    <title>E-Mail - Zoho CRM</title>
</head>

<body>
    <div id="loading">
        Loading...</div>
    <div class="wrapper">
        <navbar-element></navbar-element>
        <div class="container">
            <aside>
                <mail-sidebar></mail-sidebar>
            </aside>
            <main></main>
        </div>
    </div>
</body>

</html>