<!DOCTYPE html>
<link rel="stylesheet" href="/css/header.css">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<nav>
    <ul>
        <li><span id="CRM"><a href="/" target="_parent"><img src="/static/crm_logo.svg"> CRM</a></span></li>
        <li><a href="/" target="_parent">Home</a></li>
        <li><a href="/templates/leads.html" target="_parent">Leads</a></li>
        <li><a href="/templates/contacts.html" target="_parent">Contacts</a></li>
        <li><a href="/templates/accounts.html" target="_parent">Accounts</a></li>
        <li><a href="/templates/deals.html" target="_parent">Deals</a></li>
        <li><a href="/templates/meetings/home.html" target="_parent">Meetings</a></li>
    </ul>
</nav>