<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Convert</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .hasCompany,
        .hasNoCompany {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
        }

        input[type="text"] {
            height: 25px;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div style="display: none;" class="hasCompany">
            <label for="leadname">Lead</label>
            <input type="text" name="leadname" id="leadname1" disabled>
            <p>Convert to</p>
            <fieldset style="border: none;">
                <input type="radio" name="convert" id="contact" required>
                <label for="contact">Contact</label>
                <input type="radio" name="convert" id="contactAndaccount">
                <label for="contactAndaccount">Contact & Account</label>
            </fieldset>
            <button type="button" class="primaryBtn" id="ConvertBtn1">Convert</button>
        </div>
        <div style="display: none;" class="hasNoCompany">
            <header>Convert to Contact</header>
            <label for="leadname">Lead</label>
            <input type="text" name="leadname" id="leadname2" disabled>
            <button type="button" class="primaryBtn" id="ConvertBtn2">Convert</button>
        </div>
    </div>
    <script src="/js/leads/convertlead.js"></script>
</body>

</html>