<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/leads.css">
    <title>Leads</title>
</head>

<body>
    <div class="nav">
        <object class="navObject" data="/templates/header.html" type="text/html" name="nav"></object>
    </div>
    <div class="topRowDiv">
        <ul class="topRow">
            <li><button id="createLeadBtn" class="primaryBtn">Create Lead</button></li>
            <li><button class="defaultBtn">Actions</button></li>
        </ul>
    </div>
    <div class="content">
        
    </div>
</body>

</html>