<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/leads.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="module" src="/components/navbar.js"></script>
    <title>Edit Account</title>
</head>

<body>
    <div class="wrapper"><navbar-element></navbar-element>
        <div class="topRowDiv">
            <ul class="topRow1">
                <li>
                    <h3>Edit Account</h3>
                </li>
                <li hidden><select name="layout" id="layoutSelect" class="defaultBtn">
                        <option value="standard">Standard</option>
                    </select></li>
                <li hidden><a href="#">Edit Page Layout</a></li>
            </ul>
            <ul class="topRow2">
                <li><button class="defaultBtn" id="cancelBtn">Cancel</button></li>
                <li><button class="defaultBtn" id="btnSaveAndNew">Save and New</button></li>
                <li><button id="saveAccountBtn" class="primaryBtn" type="button">Save</button></li>
            </ul>
        </div>
        <div class="content">
            <div class="Contacts_Popup hidden">
                <div class="popup-head">
                    <h2>Choose Contacts</h2>
                </div>
                <div class="popup-body">
                    <div class="check-list_container"></div>
                    <div class="cta-btn_container">
                        <button type="button" id="close-btn-popup" class="cta-btns cancel">close</button>
                        <button id="cancel-contact-popup" class="cta-btns cancel">Reset and Close</button>
                        <button id="contact-associate-btn" class="cta-btns success" disabled>Associate</button>
                    </div>
                </div>
            </div>
            <div class="createAccountContainer">
                <form id="createAccountForm" novalidate>
                    <div class="section">
                        <div class="section-head">
                            <h3>Account Information</h3>
                        </div>
                        <div class="section-body">
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-name">Account Name</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="org-name" id="org-name" class="field" required>
                                        <div class="field-error hidden-visibility">error</div>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="account-owner">Account Owner</label>
                                    </div>
                                    <div class="value">
                                        <select name="account-owner" id="account-owner" class="field">
                                            <option value="">Select</option>
                                        </select>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-email">Email</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="org-email" id="org-email" class="field" required>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="contact">Contact</label>
                                    </div>
                                    <div class="value">
                                        <div class="value">
                                            <input id="contacts" name="contacts" class="field" readonly>
                                            <div class="field-error hidden-visibility">error</div>
                                        </div>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="date-created">Date Created</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="date-created" id="date-created" class="field" readonly>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="last-modified">Last Modified</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="last-modified" id="last-modified" class="field"
                                            value="-" readonly>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="ownership">Ownership</label>
                                    </div>
                                    <div class="value">
                                        <select name="ownership" id="ownership" class="field">
                                            <option value="" selected>-None-</option>
                                        </select>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="parent-account">Parent Account</label>
                                    </div>
                                    <div class="value">
                                        <select name="parent-account" id="parent-account" class="field">
                                            <option value="" selected>-None-</option>
                                        </select>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="account-type">Account Type</label>
                                    </div>
                                    <div class="value">
                                        <select name="account-type" id="account-type" class="field">
                                            <option value="" selected>-None-</option>
                                        </select>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="industry">Industry</label>
                                    </div>
                                    <div class="value">
                                        <select name="industry" id="industry" class="field">
                                            <option value="" selected>-None-</option>
                                        </select>
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="employee-count">No. of Employees</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="employee-count" id="employee-count" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-phone">Tel</label>
                                    </div>
                                    <div class="value">
                                        <input type="tel" name="org-phone" id="org-phone" class="field" maxlength="10">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-income">Annual Revenue</label>
                                    </div>
                                    <div class="value">
                                        <input type="number" name="org-income" id="org-income" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-website">Website</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="org-website" id="org-website" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="section">
                        <div class="section-head">
                            <h3>Billing Information</h3>
                        </div>
                        <div class="section-body">
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-street">Billing Street</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="org-street" id="org-street" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-city">Billing City</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="org-city" id="org-city" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-state">Billing State</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="org-state" id="org-state" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-country">Billing Country</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="org-country" id="org-country" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="org-pin-code">Billing Postal Code / Zip Code</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="org-pin-code" id="org-pin-code" class="field"
                                            maxlength="6">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-head">
                            <h3>Shipping Information</h3>
                        </div>
                        <div class="section-body">
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="shipping-street">Shipping Street</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="shipping-street" id="shipping-street" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="shipping-city">Shipping City</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="shipping-city" id="shipping-city" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="shipping-state">Shipping State</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="shipping-state" id="shipping-state" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="shipping-country">Shipping Country</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="shipping-country" id="shipping-country" class="field">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field">
                                <div class="field-container">
                                    <div class="label">
                                        <label for="shipping-pin-code">Shipping Postal Code / Zip Code</label>
                                    </div>
                                    <div class="value">
                                        <input type="text" name="shipping-pin-code" id="shipping-pin-code" class="field"
                                            maxlength="6">
                                        <div class="field-error hidden-visibility">error</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="/js/accounts/editAccount.js" type="module" defer></script>
</body>

</html>