<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <script type="module" src="../../components/navbar.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/deal.css">
    <script type="module" src="../../js/deals/editDeal.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <navbar-element></navbar-element>
        <div class="topRowDiv">
            <ul class="topRow1">
                <li>
                    <h3>Create Deal</h3>
                </li>
                <li hidden><select name="layout" id="layoutSelect" class="defaultBtn">
                        <option value="standard">Standard</option>
                    </select></li>
                <li hidden><a href="#">Edit Page Layout</a></li>
            </ul>
            <ul class="topRow2">
                <li><button class="defaultBtn" id="cancelBtn">Cancel</button></li>
                <li><button class="defaultBtn" id="btnSaveAndNew">Save and New</button></li>
                <li><button id="saveDealBtn" class="primaryBtn" type="button">Save</button></li>
            </ul>
        </div>
    </div>

</body>

</html>