<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <script type="module" src="../../components/navbar.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/deal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="module" src="../../js/deals/editDeal.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <navbar-element></navbar-element>
        <div class="topRowDiv">
            <ul class="topRow1">
                <li>
                    <h3>Edit Deal</h3>
                </li>
                <li hidden><select name="layout" id="layoutSelect" class="defaultBtn">
                        <option value="standard">Standard</option>
                    </select></li>
                <li hidden><a href="#">Edit Page Layout</a></li>
            </ul>
            <ul class="topRow2">
                <li><button class="defaultBtn" id="cancelBtn">Cancel</button></li>
                <li><button class="defaultBtn" id="btnSaveAndNew">Save and New</button></li>
                <li><button id="saveDealBtn" class="primaryBtn" type="button">Save</button></li>
            </ul>
        </div>
        <div class="content">
            <div class="outerContainer">
                <form id="AccountForm">
                    <div class="deal">
                        <div class="form-elements-div">
                            <label for="dealName">Deal Name</label>
                            <input type="text" name="dealName" id="dealName" class="form-elements" required>
                        </div>

                        <div class="form-elements-div">
                            <label for="dealOwner">Deal Owner</label>
                            <input type="text" name="dealOwner" id="dealOwner" class="form-elements">
                        </div>

                        <div class="form-elements-div">
                            <label for="dealAmount">Amount</label>
                            <input type="text" name="dealAmount" id="dealAmount" class="form-elements" maxlength="10"
                                required>
                        </div>

                        <div class="form-elements-div">
                            <label for="dealClosingDate">Closing Date</label>
                            <input type="text" name="dealClosingDate" id="dealClosingDate" class="form-elements"
                                required>
                        </div>
                    </div>
                    <div class="details">
                        <div class="form-elements-div">
                            <label for="contactName">Contact Person</label>
                            <select name="contactName" id="contactName" class="form-elements" required></select>
                        </div>
                        <div class="form-elements-div">
                            <label for="accountName">Account Name</label>
                            <select name="accountName" id="accountName" class="form-elements"></select>
                        </div>
                        <div class="form-elements-div">
                            <label for="dealPipeline">Pipeline</label>
                            <select name="dealPipeline" id="dealPipeline" class="form-elements">
                            </select>
                        </div>
                        <div class="form-elements-div">
                            <label for="dealStage">Stage</label>
                            <select name="dealStage" id="dealStage" class="form-elements">
                            </select>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>

</html>